<!DOCTYPE html>
<html>
  <head>
	{% load static %}
    {% block scripts %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
    {% endblock %}
  </head>
  <body>
    <header class="header">

        <img class="header" src="/static/images/Logo_01.jpg" alt='Faculdade Lorenzinni Tecnologia, a melhor do Brasil !' width='100px'/><p class="headtitle">Faculdade Lorenzinni</p> 

        <br/>

        {% if user.is_authenticated %}
            <div class="hello">Olá <a class="userlink" href=
                {% if user.perfil == 'P' %}
                    "/PerfilProfessor"
                {% elif user.perfil == 'A' %}
                    "/PerfilAluno"
                {% elif user.perfil == 'C' %}
                    "/PerfilCoordenador"
                {% endif %}
            >{{ user }}</a></div>
        {% endif %}

        <ul class="navigation">
        <li class="bloco"><a href="/home">Home Page</a></li>
        <li class="bloco"><a href="/Lista_Cursos">Lista de Cursos</a></li>
        <li class="bloco noanchor">Disciplinas
            <ul class="dropdown">
                <li class="dropcontent"><a href="/Disciplinas/SegInfoAtualidade/">Seg. Da Info. na Atualidade</a></li>
                {% if user.is_authenticated %}
                    {% if user.perfil == 'P' or user.perfil == 'C' %}
                    <li class="dropcontent"><a href="/Disciplinas/Nova_Disciplina">Cadastrar Disciplina</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </li>
        <li class="bloco"><a href="/Detalhes/Cursos">Detalhes dos Cursos</a></li>
        <li class="bloco"><a href ="/Noticias">Notícias</a></li>
        <li class="bloco"><a href="/Contato">Contato</a></li>
        {% if user.is_authenticated %}
        <li class="bloco"><a href="{% url 'logout' %}">Sair</a></li>
        {% else %}
        <li class="bloco"><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        </ul>

    </header>

    <section>
        {% block conteudo %}

        {% endblock %}
    </section>

    <footer>© Faculdade Lorenzinni Tecnologia 2000 - 2017 https://spacethearcher.github.io/TecWeb-TF/ Todos os direitos reservados.</footer>
  </body>
</html>