  {% extends 'base.html' %}
  {% block scripts %}
  	{{ block.super}}
  	<link rel="stylesheet" type="text/css" href="/static/css/site.css">
	<link rel="stylesheet" type="text/css" href="/static/css/dSegDaInfo.css">
	<title>Disciplinas Seg. Da Informação</title>
  {% endblock %}
  {% block conteudo %}
	<body bgcolor='#D6DBDF'>
			<h1>SEGURANÇA DA INFORMAÇÃO</h1>

			<h2>DISCIPLINAS POR MÓDULOS :</h2>
			
			<div class="BigBox">
				
				<!--MÓDULO 1-->

				<div class="Module">
				<h3>Módulo 1</h3>
				<h4>Fundamentos da Cibersegurança - 116 H/A</h4>
					<ul class="MateriaList">
						
						<li class="Materia">Segurança da Informação na Atualidade
							<ul class="dropmenu">
								<li class="dropitem">
									O Panorama atual da segurança da informação em empresas e em relação ao mercado de trabalho no Brasil e no Mundo.
								</li>
							</ul>
						</li>

						<li class="Materia">Governança em TI e em Segurança da Informação
							<ul class="dropmenu">
								<li class="dropitem">
									GRC e Contexto Internacional 
								</li>
								<li class="dropitem">
									Governança do Mercado Nacional 
								</li>
								<li class="dropitem">
									Governança no Âmbito Corporativo 
								</li>
								<li class="dropitem">
									ISO 38500, ISO 15504 e COBIT 5
								</li>
							</ul>
						</li>

						<li class="Materia">Normas e Auditoria em Segurança da Informação
							<ul class="dropmenu">
								<li class="dropitem">
									ISO 27001 (Sistema de Gestão em Segurança da Informação)
								</li>
								<li class="dropitem">
									ISO 27002 (Seções e Controles em Segurança da Informação)
								</li>
								<li class="dropitem">
									ISO 19011 e ISO 27007 (Auditoria em Segurança da Informação)
								</li>
								<li class="dropitem">
									Prática de Auditoria em SI
								</li>
							</ul>
						</li>

						<li class="Materia">Gestão de Riscos em Segurança da Informação
							<ul class="dropmenu">
								<li class="dropitem">
									Riscos em TI e Segurança da Informação
								</li>
								<li class="dropitem">
									Gestão de Riscos (ISO 31000)
								</li>
								<li class="dropitem">
									Riscos em Segurança da Informação (ISO 27005)
								</li>
							</ul>
						</li>

						<li class="Materia">Direito Eletrônico (Aspectos legais em TI)
							<ul class="dropmenu">
								<li class="dropitem">
									Direito e sua relação com TI e SI (incluindo Marco Civil))
								</li>
								<li class="dropitem">
									Responsabilidade Civil e Societária
								</li>
								<li class="dropitem">
									Questões Trabalhistas
								</li>
								<li class="dropitem">
									Aspectos Penais
								</li>
							</ul>
						</li>
						
					</ul>
				</div>

				<!--MÓDULO 2-->

				<div class="Module">
				<h3>Módulo 2</h3>
				<h4>Tecnologias em Cibersegurança - 192 H/A</h4>
					<ul class="MateriaList">
						
						<li class="Materia">Soluções Tecnológicas em Segurança da Informação
							<ul class="dropmenu">
								<li class="dropitem">
									Elementos tecnológicos em Segurança da Informação
								</li>
								<li class="dropitem">
									Elementos de segurança em redes
								</li>
								<li class="dropitem">
									Elementos de segurança em servidores e estações de trabalho
								</li>
								<li class="dropitem">
									Estruturas e tecnologias aplicadas e utilizadas em empresas
								</li>
							</ul>
						</li>

						<li class="Materia">Segurança Física e Ambiental
							<ul class="dropmenu">
								<li class="dropitem">
									Segurança Física e ambiental e respectivas legislações aplicáveis
								</li>
								<li class="dropitem">
									Detecção e monitoramento em segurança física e ambiental
								</li>
								<li class="dropitem">
									Riscos e Controles em segurança físicos e ambientais
								</li>
							</ul>
						</li>

						<li class="Materia">Práticas de Desenvolvimento Seguro em Sistemas
							<ul class="dropmenu">
								<li class="dropitem">
									Segurança em Sistemas Operacionais
								</li>
								<li class="dropitem">
									Segurança em Aplicações e Sistemas
								</li>
								<li class="dropitem">
									Segurança em Desenvolvimento de Aplicações
								</li>
								<li class="dropitem">
									Metodologias de Desenvolvimento Seguro
								</li>
							</ul>
						</li>

						<li class="Materia">Ethical Hacking
							<ul class="dropmenu">
								<li class="dropitem">
									Etapas do processo de invasão em Sistemas
								</li>
								<li class="dropitem">
									Metodologias de análise de vulnerabilidade
								</li>
								<li class="dropitem">
									Realização de análise de vulnerabilidade em ambiente controlado
								</li>
							</ul>
						</li>

						<li class="Materia">Classificação de informação e Tecnologias de Proteção à Perda de Dados (DLP)
							<ul class="dropmenu">
								<li class="dropitem">
									Modelos e políticas aplicadas à classificação de informações
								</li>
								<li class="dropitem">
									Processos relacionados à proteção de Informações
								</li>
								<li class="dropitem">
									Tecnologias relacionadas à prevenção à perda de dados
								</li>
								<li class="dropitem">
									Casos de sucesso relacionados à implementação de DLP
								</li>
							</ul>
						</li>

						<li class="Materia">Investigação e Perícia Forense em meios informáticos
							<ul class="dropmenu">
								<li class="dropitem">
									Padrões Periciais (ISO 27037 e RFC 3227)
								</li>
								<li class="dropitem">
									Processos de identificação, coleta e preservação, análise e apresentação de evidências
								</li>
								<li class="dropitem">
									Engenharia reversa
								</li>
								<li class="dropitem">
									Perícia em dispositivos móveis
								</li>
							</ul>
						</li>

						<li class="Materia">Inteligência e Contrainteligência
							<ul class="dropmenu">
								<li class="dropitem">
									Inteligência, contra inteligência, terrorismo, contraterrorismo, espionagem, contraespionagem e engenharia social
								</li>
								<li class="dropitem">
									Doutrina da Inteligência no Brasil (ABIN)
								</li>
								<li class="dropitem">
									Fontes humanas, abertas, de imagens e de sinais
								</li>
								<li class="dropitem">
									Recomendações de Segurança à proteção de dispositivos pessoais (computadores, smartphones) além de redes sociais
								</li>
							</ul>
						</li>

						<li class="Materia">Resposta a Incidentes em Segurança da Informação
							<ul class="dropmenu">
								<li class="dropitem">
									Processos de resposta a incidentes
								</li>
								<li class="dropitem">
									Estabelecimento, treinamento, manutenção e atuação de um time de resposta a incidentes
								</li>
								<li class="dropitem">
									Equipes de resposta a incidentes estabelecidos no Brasil e no mundo
								</li>
							</ul>
						</li>
						
						<li class="Materia">Gestão de Crise, Continuidade e Contingenciamento de Negócios
							<ul class="dropmenu">
								<li class="dropitem">
									Processo de gestão de crises
								</li>
								<li class="dropitem">
									ISO 22301 - Continuidade de Negócios
								</li>
								<li class="dropitem">
									NIST 800-34 - Guia de Planejamento de Contingenciamento
								</li>
								<li class="dropitem">
									Recuperação em casos de desastres, com apresentação de tecnologias de contingenciamento de negócios
								</li>
							</ul>
						</li>
						
						<li class="Materia">Cybersecurity, Cyberwar e Homeland Security
							<ul class="dropmenu">
								<li class="dropitem">
									Controles de segurança aplicados às infraestruturas críticas de comunicação, saúde, transporte, energia, economia e demais infraestruturas
								</li>
								<li class="dropitem">
									Segurança de componentes críticos dispostos no ciberespaço
								</li>
								<li class="dropitem">
									Modelagem de ameaças cibernéticas e controles críticos
								</li>
								<li class="dropitem">
									Plano estratégico para proteção cibernética
								</li>
							</ul>
						</li>

						<li class="Materia">Tendências em Segurança da Informação
							<ul class="dropmenu">
								<li class="dropitem">
									Segurança em Tecnologias Emergentes (Consumerização e Cloud Computing)
								</li>
								<li class="dropitem">
									Segurança em Big Data
								</li>
								<li class="dropitem">
									Tendências à disponibilização de novos dispositivos no mercado
								</li>
							</ul>
						</li>

					</ul>
				</div>

				<!--MÓDULO 3-->

				<div class="Module">
				<h3>Módulo 3</h3>
				<h4>Cibersegurança em Negócios - 32 H/A</h4>
					<ul class="MateriaList">
						<li class="Materia">Gestão Segura de Ambientes Terceirizados
							<ul class="dropmenu">
								<li class="dropitem">
									Terceirização e legislações aplicáveis
								</li>
								<li class="dropitem">
									Elementos de estímulo à terceirização e seus respectivos riscos
								</li>
								<li class="dropitem">
									Aplicação da terceirização em Segurança da Informação e seus respectivos riscos
								</li>
							</ul>
						</li>

						<li class="Materia">Práticas de Segurança Requeridas pelo Negócio
							<ul class="dropmenu">
								<li class="dropitem">
									Payment Card Industry Data Security Standard (PCI-DSS)
								</li>
								<li class="dropitem">
									Health Insurance Portability and Accountability Act (HIPAA)
								</li>
								<li class="dropitem">
									Lei Sarbanes-Oxley
								</li>
								<li class="dropitem">
									Instruções Normativas do Banco Central do Brasil
								</li>
							</ul>
						</li>
						
					</ul>
				</div>
				
				<!--MÓDULO 4-->

				<div class="Module">
				<h3>Módulo 4</h3>
				<h4>STARTUP ONE - 20 H/A</h4>
					<ul class="MateriaList">
						<li class="Materia">Empreendedorismo e Inovação
							<ul class="dropmenu">
								<li class="dropitem">
									Ecossistema Empreendedor
								</li>
								<li class="dropitem">
									Intraempreendedorismo
								</li>
								<li class="dropitem">
									Inovação
								</li>
								<li class="dropitem">
									Open Innovation
								</li>
								<li class="dropitem">
									Ideias e Oportunidades
								</li>
								<li class="dropitem">
									Business Canvas – BMG
								</li>
								<li class="dropitem">
									Prototipação e Design Thinking
								</li>
								<li class="dropitem">
									Análise Financeira
								</li>
								<li class="dropitem">
									Economia Criativa
								</li>
								<li class="dropitem">
									Técnicas de Pitching
								</li>
								<li class="dropitem">
									Cases de Sucesso do Cenário Nacional e Global
								</li>
							</ul>
						</li>
					</ul>
				</div>


			</div>
	</body>
 {% endblock %}