{% extends 'base.html' %}
{% block scripts %}
	{{ block.super}}
	<link rel="stylesheet" type="text/css" href="/static/css/site.css">
	<link rel="stylesheet" type="text/css" href="/static/css/ForgotPass.css">
    <title>Faculdade Lorenzinni - Esqueci Minha Senha</title>
{% endblock %}
{% block conteudo %}

  <body>
	<div class="Box">
		
		<div class="FormDiv">
		
			<h2> ESQUECI MINHA SENHA </h2>
			
			<h3>Preencha seus dados:</h3>
			
			<form class="ContatoForm" method="POST">
				{% csrf_token %}
				{% for field in form %}
						{{ field.errors }}
						<div class="DivInput>"{{ field.label_tag }} {{ field }}</div>
				{% endfor %}
			
			<button class="botaoReset" type="reset">Limpar</button>
			<button class="botaoLogin" type="submit">Enviar</button><br/>
			
			</form>
			
		</div>
	
	</div>
  </body>
  
  {% endblock %}