{% extends 'base.html' %}
{% block scripts %}
	{{ block.super}}
	<link rel="stylesheet" type="text/css" href="/static/css/site.css">
	<link rel="stylesheet" type="text/css" href="/static/css/Perfil.css">
	<title>Faculdade Lorenzinni - Area do Coordenador</title>
{% endblock %}
{% block conteudo %}
		
    <div class="content">
        <h1> Área do Coordenador </h1>

        <div class="display">
        <a class="aoption" href=""> <div class="option">  Atividades (Email) </div> </a>  
        </div>
    </div>

{% endblock %}