{% extends 'base.html' %}
{% block scripts %}
	{{ block.super}}
	<link rel="stylesheet" type="text/css" href="/static/css/site.css">
	<link rel="stylesheet" type="text/css" href="/static/css/SegDaInf.css">
	<title>Faculdade Lorenzinni - Segurança da Informação</title>
{% endblock %}
{% block conteudo %}
		
	</head>

	<body>
		<article>
			<h1 class="titulo">Segurança da informação</h1>
			<p class="texto">O Curso Superior de Tecnologia em Segurança da Informação da Lorenzinni tem o objetivo de capacitar o aluno a perceber, aprimorar e dinamizar os métodos de proteção aplicados sobre um conjunto de dados no sentido de preservar o valor que possui para um indivíduo ou uma organização, tendo como características básicas da segurança da informação os aspectos de confidencialidade, integridade e disponibilidade, não estando restritos somente a sistemas computacionais, informações eletrônicas ou sistemas de armazenamento. O conceito se aplica a todos os aspectos de proteção de informações e dados, acompanhando sempre o surgimento das inovações tecnológicas. Para tanto, o curso prepara o aluno por meio de tecnologias atuais, empregadas nesse exigente mercado de trabalho, e de professores altamente qualificados.</P>
			<p class="texto">Este profissional é um especialista na segurança de redes de computadores. Ele evita que a rede seja invadida por pessoas não autorizadas, protegendo as informações dos usuários da empresa e seus clientes. Com isso, garante a confiabilidade, a integridade e a disponibilidade dos dados. Trabalha também na segurança de softwares e da própria infraestrutura de informática da companhia. Faz análises de risco, administra sistemas de informações e gerencia redes de computadores. Pode fazer auditorias e recuperar informações. O curso traz boa carga de disciplinas de administração, marketing e legislação, além de matemática. As matérias específicas incluem criptografa, segurança na internet e recuperação de dados. Muitas escolas exigem estágio e trabalho de conclusão de curso.</p>
			<br/>
			<p class="texto2">Duração média: 2 anos</p>
			
			<br/>
			
			<a href="/Disciplinas/SegDaInformacao"><button class="buttonDisc">Disciplinas</button></a>
		</article>
		
	</body>

{% endblock %}
