  {% extends 'base.html' %}
  {% block scripts %}
  	{{ block.super}}
  	<link rel="stylesheet" type="text/css" href="/static/css/site.css">
	<link rel="stylesheet" type="text/css" href="/static/css/Seg_Inform.css">
	<title>Disciplina - Seg. da Informação na Atualidade</title>
  {% endblock %}
  {% block conteudo %}
	<body bgcolor='#D6DBDF'>
			<div class="areacmt">
			
			<h1>Segurança da Informação na Atualidade</h1>
			<h2>Carga Horária: 45 Horas Semanais</h2>
			
				<p>Segurança da informação (SI) está diretamente relacionada com proteção de um conjunto de informações, no sentido de preservar o valor que possuem para um indivíduo ou uma organização. São propriedades básicas da segurança da informação: confidencialidade, integridade, disponibilidade e autenticidade.
				não está restrita somente a sistemas computacionais, informações eletrônicas ou sistemas de armazenamento. O conceito se aplica a todos os aspectos de proteção de informações e dados. O conceito de Segurança Informática ou Segurança de Computadores está intimamente relacionado com o de Segurança da Informação, incluindo não apenas a segurança dos dados/informação, mas também a dos sistemas em si.
				O curso está padronizado de acordo com as normas ISO/IEC 17799:2005.</p>
						
				<div class="Container">
					<div class="coment">
						
						<h3 class="ProfSelton">Professor : Selton Mello</h3>
						<div class="cmtimg">
							<img class="FotoSelton" src="/static/images/ProfSelton.jpg" alt="Professor Selton Melo"/>
						</div>
					
					</div>
					
					<div class="DiasDeAula">
						
						<h3 class="ProfSelton">Dias de aula :</h3></br><br/><br/>
						<ul class="dds">
							<li class="dds">Segunda e Terça Feira, das 19h às 21h</li>
							<li class="dds">Quarta e Sexta Feira, das 21h às 22:30h</li>
						</ul>
						
					</div>
				</div>
				
				
			</div>
	</body>
	{% endblock %}
