h1  {
	color:blue;
	text-align: center;
}

.Container {
	text-align: center;
	border-radius:10px;
	box-sizing: border-box;
	padding:10px;
	margin: 0 auto;
    min-width: 300px;
    max-width: 600px;
	width: 100%;
	background-color: #c1c1c1;
}

.DivNew {
	margin: 10px;
	padding: 10px;
}

.Inputs {
	width: 50%;
	padding: 5px 5px 2px;
	border: 1px solid gray;
}

.DivInput {
	text-align: left;
	width: 90%;
	margin: 2px auto;
}

.botaoLogin{
	margin: 10px auto 5px auto;
	background-color: #d1d1d1;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size:105%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid #555555;
	border-radius:4px;
	width: 30%;
}

.botaoLogin:hover {
    background-color: #555555;
    color: white;
}

.botaoReset{
	margin: 10px auto 5px auto;
	background-color: #d1d1d1;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size:105%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    color: black;
    border: 2px solid #ba3a35;
	border-radius:4px;
	width: 30%;
}

.botaoReset:hover {
    background-color: #ba3a35;
    color: white;
}

textarea {
	resize: none;
	box-sizing: border box;
	padding: 10px;
	text-align: left;
	width: 100%;
	height: 150px;
	margin: 5px 0;
	border-radius: 0;
}

input {
	background-color: white;
	border: none;
	border-radius:2px;
	padding:2px;
	width:100%;
	height:20px;
	margin: 5px auto;
}

select {
	background-color: #e0e0e0;
	border: none;
	border-radius:2px;
	padding:2px;
	width:76.9%;
	height:24px;
	margin: 5px auto;
}

label {
	display: inline-block;
	text-align: left;
	font-family: Georgia, serif;
	font-weight: 600;
	font-size: 95%;
}

}

@media all and (max-width: 700px) {

.ContatoBox {
    min-width: 100px;
	width: 80%;
    }

}