h1 {
	text-align: center;
	color: red;
}

h2 {
	margin-top: 15px;
	font-family: Georgia, Serif ;
	font-size: 92%;
	max-width: 200px;
	text-align: center;
	}
	
.desc {
	text-align: center;
	font-family: Georgia, serif;
	font-size: 105%;
	color: black;
	font-weight: 550;
	margin-left: 40px;
	margin-right: 40px;
	border-left: 1px crimson solid;
	border-right: 1px crimson solid;
	padding: 5px;
	}

div.lista {
	border-width: 2px;
	border-style: solid;
    border-color: darkgray;
	width: 200px;
	height: 200px;
	max-width: 200px;
	max-height: 200px;
	overflow: hidden;
	}

.lista a {
  text-decoration: none;
  display: block;
  padding: 2em;
}
.imagem {
	width: 100%;
	height: 100%;
	opacity: 0.5;
    filter: alpha(opacity=50);
	object-fit: cover;
	transition: 0.4s;
	}
	
.org a {
	text-decoration: none;
	text-align: center;
	}
	
.imagem:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
	width: 103%;
	height: 103%;
}
.org {
	display:flex;
	flex-flow:row wrap;
	justify-content:space-evenly;
	align-items: center;
	
}
.titulo{
	font: bold 24px/45px Helvetica, Sans-Serif; 
	text-align: center;
    padding: 20px;
	font-size: 250%;
}
.texto{
	display: flex;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom: 10px;
	font-size: 115%;
}
.texto2{
	display: flex;
	padding-left:50px;
	padding-right:50px;
	padding-top:10px;
	padding-bottom: 10px;
	font: bold 15px arial, sans-serif;
}


@media only screen and (max-width: 700px) {
.org {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
	}
}
