.center {
	text-align: center;
	}
	
p		{
	margin-left: 10px;
	}
	
p.desc {
	text-align: center-left ;
	text-indent: justify ;
}

div.desc {
	border: 2px ;
	border-style: solid ;
	border-color: red ;
	border-width: 2px ;
	border-top: none ;
	border-bottom: none ;
	padding: 3px ;
	}

h1 		{
	text-decoration: underline ;
	font-family: 'Gotham' ;
    text-transform: uppercase ;
	font-size: 200%;
	color:red ;
	}

h2 		{
	text-decoration: underline ;
	font-size: 180% ;
	font-family: 'Gotham' ;
    text-transform: uppercase ;
	color:blue ;
	}
	
.areacmt {
	display: flex ;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style-type: none;
	border: 2px ;
	border-style: solid ;
	border-color: blue ;
	border-width: 2px ;
	border-top: none ;
	border-bottom: none ;
	padding: 3px ;
	}
	
.coment {
	background-color: #eaeaea ;
	border: 2px ;
	border-style: solid ;
	border-color: black ;
	border-width: 2px ;
	padding: 5px ;
	margin-top: 10px ;
	margin-bottom: 10px ;
	max-width: 20%
	}
	
.IMGlogo {
	max-height: 400px;
	object-fit: cover;
}
	
.nomecmt {
	font-size: 110% ;
	text-decoration: underline ;
	font-weight: bold ;
	}

.cmt {
	text-align: left ;
	padding: 5px ;
	padding-left: 15px ;
	}
	
@media all and (max-width: 800px) {
.areacmt {
	display: flex ;
	flex-flow: column wrap;
	justify-content: space-around;
	list-style-type: none;
	}
	
.coment {
	background-color: #eaeaea ;
	border: 2px ;
	border-style: solid ;
	border-color: black ;
	border-width: 2px ;
	padding: 5px ;
	margin-top: 10px ;
	margin-bottom: 10px ;
	max-width: 100%
	}
}